/* Start Global Values */
/* Start Global Variables */
:root{
    --main-color:#03a9f4;
    --main-text:#666666;
    --second:#ececec;
    --gold:#FFC107;
    --green-btn:#009688;
    --red-btn:#f44036;
    --padding:50px;
}
/* End Global Variables */

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}

@media (max-width:991px){
    body{
        font-size: 14px;
    }
}

@media (max-width:767px){
    body{
        font-size: 12px;
    }
}

.container{
    padding: 0 15px;
    margin: 0 auto;
}


/* small devics media */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* mediam devics media */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}


/* lage devics media */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}


/* Start The Main Component */
.main-component{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 70px;
    position: relative;
    z-index: 2;
}

.main-component h1{
    padding: 5px 25px;
    letter-spacing: 1.2px;
    border: 4px solid;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    transition: 2s;
}

.main-component h1:hover{
    color: #fff;
    border: none;
}


.main-component h1::before,
.main-component h1::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    z-index: -1;

}

.main-component h1:hover::before{
    left: 0;
    transition-delay: .2s;
    height: 100%;
    width: 50%;
    border-radius: 0px;
}

.main-component h1:hover::after{
    right: 0;
    height: 100%;
    width: 50%;
    border-radius: 0px;
}



.main-component h1::before{
    left: -40px;
}

.main-component h1::after{
    right: -40px;
}


.strike{
    position: relative;
}

.strike::before{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px
}

/* End The Main Component */


/* End Global Values */


/* Start Header */

header{
    box-shadow: -1px 1px 5px 0px #777;
    background: #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 767px){
    header .container{
        flex-direction: column;
    }
}

header .container .logo{
    font-size: 2em;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 700;
}

@media (max-width: 767px){
    header .container nav{
        width: 100%;
    }
}



header .container nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 767px){
    header .container nav ul{
        width: 100%;
    }
}


header .container nav ul li a{
    text-transform: capitalize;
    font-size: 1.1em;
    padding: 33px 20px;
    position: relative;
    transition: .5s;
    display: block;
}

@media (max-width: 767px){
    header .container nav ul li a{
        padding: 25px 0;
    }
}

header .container nav ul li a:hover{
    background: #dbdbdb57;
    color: var(--main-color);
}

.link-active{
    background: #dbdbdb57;
    color: var(--main-color);
    position: relative;
}


.link-active::before{
    content: "";
    width: 100% !important;
    height: 5px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
}


header .container nav ul li a::before{
    content: "";
    width: 0%;
    height: 5px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
}

@media (max-width: 767px){
    header .container nav ul li a::before{
        top: 100%;
        transform: translateY(-100%);
    }
}

header .container nav ul li a:hover::before{
    width: 100%;
}

header .container nav ul:last-child:hover +  .mega-menu{
    display: flex !important;
    
}


header .container .mega-menu{
    position: absolute;
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 5px solid var(--main-color);
    background: #fff;
    z-index: 99;
    top: calc(100% + 5px);
    left: 0;
    transition: .2s;
}

.active{
    display: flex !important;
}

header .container .mega-menu img{
    flex-basis: 45%;
}

@media (max-width: 991px){
    header .container .mega-menu img{
        display: none;
    }
}

header .container .mega-menu ul{
    flex-basis: 45%;
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,1fr));
    column-gap: 15px;
}

@media (max-width: 767px){
    header .container .mega-menu ul{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 991px){
    header .container .mega-menu ul{
        flex-basis: 100%;
    }
}

header .container .mega-menu ul li{
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: 700;
    padding: 10px;
    border-bottom: 1px solid #77777765;
    position: relative;
}

header .container .mega-menu ul li::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background: #dbdbdb33;
    left: 0;
    transition: .6s;
}

header .container .mega-menu ul li:hover::before{
    width: 100%;
}

header .container .mega-menu ul li a{
    color: var(--main-color);
    position: relative;
}

/* End Header */


/* Start Landing Page */
.Landing{
    height: calc(99.9vh - 89px);
    position: relative;
}

.Landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    background: #ccc;
    transform: skewY(-3deg);
    transform-origin: top left;
    z-index: -1;
}

.Landing > a{
    position: absolute;
    bottom: 44px;
    font-size: 2em;
    transform: translateX(-100%);
    left: 47%;
    color: var(--main-color);
    animation: down 1.5s infinite;
}

@keyframes down{
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    
    40%, 60% {
        transform: translateY(-15px);
    }
}


.Landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.Landing .container .text{
    flex-basis: 45%;
    align-self: flex-start;
}

@media (max-width: 991px){
    .Landing .container .text{
        flex-basis: 100%;
        text-align: center;
    }
}

.Landing .container .text h2{
    text-transform: capitalize;
    font-size: 2em;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 100px;
}

@media (max-width: 991px){
    .Landing .container .text h2{
        margin-top: 40px;
    }
}

.Landing .container .text p{
    line-height: 1.5;
    color: var(--main-text);
    font-size: 1.4em;
}


.Landing .container .img{
    width: 600px;
    position: relative;
    z-index: 9;
    animation: img-animation 6s infinite linear 1.5s alternate;
}

@media (max-width: 991px){
    .Landing .container .img{
        display: none;
    }
}

.Landing .container .img img{
    width: 100%;
    height: 100%;
    

}

@keyframes img-animation{
    0%{
        top: 0;
    }
    50%{
        top: -80px;
    }
    100%{
        top: 0px;
    }
}

/* End Landing Page */

/* Start Article  */
.article{
    padding: var(--padding) 0;
}

.article .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

.article .container .box{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: -1px 1px 10px 0px #ccc;
    cursor: pointer;
    transition: .2s;
}

.article .container .box:hover{
    transform: scale(1.02);
}


.article .container .box:hover .more i{
    animation-play-state: running;
}



.article .container .box img{
    flex-basis: 50%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.article .container .box .info{
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
}

.article .container .box .info .name{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-color);
    letter-spacing: 1.5px;
}

.article .container .box .info p{
    line-height: 1.2;
    font-size: .8em;
    color: var(--main-text);
    margin-top: 20px;
}

.article .container .box .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.article .container .box .more a{
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: 700;
}

.article .container .box .more i{
    color: var(--main-color);
    margin-right: 10px;
    animation: rightt 1s linear infinite paused;
}

@keyframes rightt{
    0%{
        margin-right: 10px;
    }
    100%{
        margin-right: -5px;
    }
}


/* End Article  */


/* Start Gallery */
.gallery{
    padding: var(--padding) 0;
    background: var(--second);
}

.gallery .container .gallery-holder{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 20px;
}
@media (max-width:767px){
    .gallery .container .gallery-holder{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}

.gallery .container .gallery-holder .gallery-box{
    padding: calc(var(--padding) - 40px);
    background: white;
    box-shadow: -1px 3px 10px 0 #ccc;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.gallery .container .gallery-holder .gallery-box:hover::before{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.gallery .container .gallery-holder .gallery-box::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsl(0, 0%, 87%);
    opacity: 0.1;
    z-index: -1;
    transition: .3s;
}

.gallery .gallery-box:hover  img{
    transform: scale(1.2) rotate(6deg);

}

.gallery .container .gallery-holder .gallery-box img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

/* End Gallery */

/*  Start Features  */
.Features{
    padding: var(--padding) 0;
}

.Features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.Features .container .feature-box{
    flex-basis: 30%;
    position: relative;
}





@media (max-width:991px){
    .Features .container .feature-box{
        flex-basis: 50%;
    }
}

@media (max-width:767px){
    .Features .container .feature-box{
        flex-direction: column;
        flex-basis: 100%;
    }
}

.Features .container .feature-box .img{
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
}

.Features .container .feature-box .img::before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

.Features .container .feature-box .img::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: .5s;
    z-index: 2;
}

.Features .container .feature-box:hover  .img::after{
    border-width:170px 500px 170px 0px;
}

.red .img::before{
    background: var(--red-btn);
}

.green .img::before{
    background: var(--green-btn);
}

.blue .img::before{
    background: var(--main-color);
}

.Features .container .feature-box .img img{
    width: 100%;
    height: 100%;
}

.Features .container .feature-box .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
}



.Features .container .feature-box .content h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2em;
    padding: 0 0 10px;
    border-bottom: 5px solid;
}

.red h2{
    border-bottom-color: var(--red-btn) !important;
}

.green h2{
    border-bottom-color: var(--green-btn) !important;
}

.blue h2{
    border-bottom-color: var(--main-color) !important;
}

.Features .container .feature-box .content p{
    text-align: center;
    line-height: 1.4;
    color: var(--main-text);
    font-size: 1.2em;
}


.Features .container .feature-box .content a{
    padding: 10px 30px;
    border-radius: 5px;
    border: 5px solid;
    position: relative;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 700;
}

.red a{
    border-color: var(--red-btn) !important;
    color: var(--red-btn);
}

.green a{
    border-color: var(--green-btn) !important;
    color: var(--green-btn);
}

.blue a{
    color: var(--main-color);
    border-color: var(--main-color) !important;
}

.Features .container .feature-box .content a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: .5s;
    z-index: -1;
}

.red a::before{
    background  : var(--red-btn) !important;
}

.green a::before{
    background: var(--green-btn) !important;
}

.blue a::before{
    background: var(--main-color) !important;
}


.Features .container .feature-box:hover a::before{
    width: 100%;
}

.Features .container .feature-box:hover a{
    color: #fff;
}


/*  End Features  */


/* Start Testemonials */
.testemonials{
    padding: var(--padding) 0;
    background: var(--second);
}

.testemonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 50px;
}

@media (max-width:767px){
    .testemonials .container{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}

.testemonials .container .tesmonial{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 5px;
    position: relative;
    transition: 250ms;
    cursor: pointer;
}

.testemonials .container .tesmonial:hover{
    transform: scale(1.04);
    box-shadow: 0 0 20px 0 #ccc;
}

.testemonials .container .tesmonial .img{
    position: absolute;
    width: 80px;
    right: -10px;
    top: -40px;
    border-radius: 50%;
    border: 10px solid var(--second);
    overflow: hidden;
}

.testemonials .container .tesmonial .img img{
    width: 100%;
    height: 100%;
}


.testemonials .container .tesmonial .name{
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.testemonials .container .tesmonial .text .career{
    color: var(--main-text);
    text-transform: capitalize;
    margin: 15px 0;
}

.testemonials .container .tesmonial .text span{
    font-size: 1.5em;
    margin-bottom: 15px;
    display: block;
}

.testemonials .container .tesmonial .text span:not(:last-child){
    color: var(--gold);
}

.testemonials .container .tesmonial .text p{
    line-height: 1.5;
    color: var(--main-text);
}

/* End Testemonials */

/* Start Team members */
.team-members{
    padding: var(--padding) 0;
}

.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    row-gap: 50px;
    cursor: pointer;
}

@media (max-width:767px){
    .team-members .container{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        row-gap: 30px;
    }
}

.team-members .container .game-card{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 0;
}

.team-members .container .game-card::before,
.team-members .container .game-card::after{
    content: "";
    position: absolute;
    background: var(--main-text);
    opacity: 0.1;
    height: 100%;
    width: 0%;
    right: 0;
    top: 0;
    border-radius: 5px;
    transition: .5s;
}

.team-members .container .game-card::before{
    width: 90%;
}


.team-members .container .game-card:hover::after{
    width: 90%;
    opacity: 0.15;
}

.team-members .container .game-card .card-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

.team-members .container .game-card .card-header .img{
    flex-basis: 80%;
    border-radius: 15px;
    overflow: hidden;
}

.team-members .container .game-card .card-header .img img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.team-members .container .game-card:hover .img img{
    filter: grayscale();
}

.team-members .container .game-card .card-header .game-social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.team-members .container .game-card .card-header .game-social-links i{
    color: var(--main-text);
    cursor: pointer;
    transition: .2s;
}

.team-members .container .game-card .card-header .game-social-links i:hover{
    color: var(--main-color);
}


.team-members .container .game-card .game-info{
    padding: 20px 0 20px 15%;
    position: relative;
    z-index: 2;
}


.team-members .container .game-card .game-info .game-name{
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.6em;
    transition: .5s;
}

.team-members .container .game-card:hover .game-name{
    color: var(--main-text);
}

.team-members .container .game-card .game-info .game-discrebtion{
    line-height: 1.4;
    color: var(--main-text);
    margin-top: 10px;
}

/* End Team members */

/* <!-- Start Services --> */
.services{
    padding: var(--padding) 0;
    background: var(--second);
}

.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 20px;
    row-gap: 40px;
}

@media (max-width:767px){
    .services .container{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}

.services .container .service-box{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 20px 0 #777;
    position: relative;
    transition: all .5s;
}

.services .container .service-box:hover{
    transform: translateY(-20px);
}

.services .container .service-box::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    top: 0;
    left: 50%;
    background: var(--main-color);
    transform: translateX(-50%);
    transition: .5s;
}

.services .container .service-box:hover::before{
    width: 100%;
}


.services .container .service-box i{
    text-align: center;
    font-size: 3em;
    color: var(--main-text);
    margin: 20px 0;
}


.services .container .service-box h2{
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 2em;
}

.services .container .service-box .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 15px 20px;
    background: #ddd9d936;
    position: relative;
}

.services .container .service-box .details::before{
    content: "";
    position: absolute;
    padding: 0 15px 0 0;
    width: 120px;
    height: 100%;
    background: var(--main-color);
    left: 0;
    top: 0;
}

.services .container .service-box .details::after{
    content: "";
    position: absolute;
    left: 90px;
    top: 0;
    background: var(--second);
    width: 50px;
    height: 100%;
    transform: skewX(-10deg);
}

.services .container .service-box .details span{
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    position: relative;
}



.services .container .service-box .details p{
    text-transform: capitalize;
    color: var(--main-color);
    cursor: pointer;
    font-weight: 700;
}
/* <!-- End Services --> */

/* Start Skills */
.skills{
    padding: var(--padding) 0;
}

.skills .container{
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px){
    .skills .container{
        flex-direction: column;
        gap: 20px;
    }
}

.skills .container .img{
    flex-basis: 50%;
}

.skills .container .img img{
    width: 100%;
    height: 100%;
}

.skills .container .skills-holder{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.skills .container .skills-holder .skill-progress .skill-name{
    width: fit-content;
    text-transform: uppercase;
    margin: 15px 0;
}

.skills .container .skills-holder .skill-progress .skill-bar{
    width: 100%;
    height: 20px;
    background: var(--second);
    position: relative;
}

.skills .container .skills-holder .skill-progress .skill-bar::before{
    content: attr(data-bar);
    position: absolute;
    right: 5%;
    font-size: .7em;
    top: -38px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid var(--main-color);
}

.skills .container .skills-holder .skill-progress .skill-bar span{
    background: var(--main-color);
    height: 100%;
    display: block;
}

/* End Skills */

/* Start how it work */
.how-it-work{
    padding: var(--padding) 0;
    background: var(--second);
}

.how-it-work .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px){
    .how-it-work .container{
        flex-direction: column;
        gap: 30px;
    }
}

.how-it-work .container .img{
    flex-basis: 50%;
}

@media (max-width:767px){
    .how-it-work .container .img{
        flex-basis: 100%;
    }
}

.how-it-work .container .img img{
    width: 100%;
    height: 100%;
}

.how-it-work .container .works{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

@media (max-width:767px){
    .how-it-work .container .works{
        flex-basis: 100%;
    }
}

.how-it-work .container .work{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background: #f4f4f4;
    border: 1px solid white;
    margin-bottom: 20px;
    position: relative;
}

.how-it-work .container .work::after{
    content: "";
    position: absolute;
    width: 0%;
    background: #fff;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;

}

.how-it-work .container .work:hover::after{
    width: 100%;
    height: 100%;
}


.how-it-work .container .work img{
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 2; 
}

@media (max-width:767px){
    .how-it-work .container .work img{
        width: 50px;
        height: 50px;
    }
}

.how-it-work .container .work .text{
    flex-basis: 75%;
    position: relative;
    z-index: 2;
}

.how-it-work .container .work .text h3{
    font-size: 1.4em;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.how-it-work .container .work .text p{
    color: var(--main-text);
    line-height: 1.3;
}
/* End how it work */

/* Start Events */
.events{
    padding: var(--padding) 0;
}

.events .container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.events .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px){
    .events .container .content{
        flex-direction: column;
    }
}

.events .container .content .img{
    flex-basis: 50%;
}

.events .container .content .img img{
    width: 100%;
}

.events .container .content .text{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

.events .container .content .text .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    position: relative;
}

.events .container .content .text .timer > div{
    text-align: center;
    border: 1px solid var(--main-text);
    background: white;
    border-radius: 5px;
    transition: .5s;
}

.events .container .content .text .timer > div:hover{
    border-color: var(--main-color);
}

.events .container .content .text .timer > div .number-of-period{
    display: block;
    padding: 40px 5px;
    font-size: 2em;
    font-weight: 700;
    color: var(--main-color);
}

.events .container .content .text .timer > div h3{
    padding: 10px;
    font-size: 1em;
    border-top: 1px solid var(--main-text);
    color: var(--main-text);
}

.events .container .content .text  .event-title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.events .container .content .text  > p{
    text-align: center;
    line-height: 1.3;
    color: var(--main-text);
}


.events .container form{
    align-self: center;
    display: flex;
    margin-top: 50px;
    padding: 40px 20px;
    background: var(--second);
    border-radius: 50px;
}

@media (max-width:767px){
    .events .container form{
        padding: 20px 10px;
    }
}

.events .container form input[type=email]{
    width: 350px;
    border-radius: 50px;
    padding: 20px;
    border: none;
}

@media (max-width:767px){
    .events .container form input[type=email]{
        width: 170px;
    }
}

.events .container form input[type=email]:focus{
    outline: none;
}

.events .container form input[type=submit]{
    width: 150px;
    border-radius: 50px;
    padding: 20px;
    border: none;
    margin-left: 20px;
    background: var(--main-color);
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}

@media (max-width:767px){
    .events .container form input[type=submit]{
        width: 70px;
        border-radius: 15px;
        padding: 20px 0;
    }
}

/* End Events */

/* Start Plans */
.plans{
    padding: var(--padding) 0;
    background: var(--second);
}

.plans .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 20px;
    position: relative;
}

@media (max-width:767px){
    .plans .container{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}

.plans .container > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 30px 0;
    box-shadow: 0 0 5px 0 #777;
    position: relative;
    z-index: 1;
}

.plans .container > div::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 0%;
    background: var(--second);
    top: 0;
    left: 0;
    transition: .5s;
    opacity: 0.3;
}


.plans .container > div::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 0%;
    background: var(--second);
    bottom: 0%;
    right: 0;
    transition: .5s;
    opacity: 0.3;
}

.plans .container > div:hover::before,
.plans .container > div:hover::after{
    width: 100%;
}




.plans .container > div .title{
    margin: 0 0 30px;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}

.plans .container > div img{
    width: 80px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.plans .container > div .price{
    font-size: 3em;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.plans .container > div span{
    color: var(--main-text);
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}

.plans .container > div ul{
    align-self: flex-start;
    padding:10px;
    width: 100%;
    position: relative;
    z-index: 2;     
}

.plans .container > div ul li{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #c7c7c7;
}

.plans .container > div ul li i{
    color: var(--main-color);
}

.plans .container > div a{
    padding: 20px 10px;
    border: 2px solid var(--main-color);
    text-transform: capitalize;
    border-radius: 5px;
    color: var(--main-color);
    position: relative;
    z-index: 2;
}


/* special styles for advanced box */

.advanced span:first-of-type{
    display: none;
}

@media (min-width:1200px){
    .advanced{
        transform: scale(1.01) translateY(-20px);
        box-shadow: 0 0 20px 0 #777;
        position: relative !important;
    }
    .advanced span:first-of-type{
        display: block;
        width: 180px;
        height: 40px;
        position: absolute;
        color: white !important;
        background: var(--main-color);
        font-weight: 700;
        text-align: start;
        padding-left: 5px;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        right: -140px;
        top: 40px;
    }
    .advanced span:first-of-type::before{
        content: "";
        width: 40px;
        border:25px solid;
        border-color: transparent white transparent transparent;
        position: absolute;
        right: -1px;
        transition: 1s;
    }
}
/* special styles for advanced box */

/* End Plans */